body {
  color: #414141;
  background-color: #EEEEEE;
  font-size: 25px
}
h1  {
  color: white;
  font-size: 55px;
  background-color: black;
  padding: 3px;
  margin-left: 20px;
}
h2  {
  color: white;
  background-color: black;
  margin-left: 20px;
}
div {
margin-left: 20px;
}
ul {
  margin-left: 20px;
}
p {
  margin-left: 20px;
}