*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background: linear-gradient(#A6986F,#BFB493,#A6986F);
    color:#261D01;
}
h1{
    font-size: 110px;
}
.top{
   display: flex;
   border: 2px solid black;
   flex-direction: column;
   align-items: center;
   text-align: center;
   font-family: 'Oswald', sans-serif;
}
.top p{
    font-size: 30px;
}
.boofer{
    display: flex;
    justify-content: space-between;
    background-color: #261D01;
    color: #A6986F;
    font-family: 'Oswald', sans-serif;
    padding: 0px 20px 0px 20px;
    /* font-size: 18px; */
}
.container{
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    font-family: 'Cormorant SC', serif;
}
p{
    font-size: 30px;
}
h2{
    font-size: 30px;
    padding: 0px 0px 10px 0px;
}
.content{
    border: 4px solid black;
    padding: 10px;
    margin: 20px;
}
footer{
    display: flex;
    border: 2px solid black ;
    justify-content:space-between;
    padding: 20px;
    font-family: 'Oswald', sans-serif;
    background-color: #261D01;
    color: #A6986F;
}
@media only screen and (max-width: 400px) {
   .content{
    color: aquamarine;
   }
}